body {
    background-color: rgb(225, 247, 247);
}
header{
    background-color: aquamarine;
    color: black;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
h1{
    font-size: 24px;
    font-family: fantasy;
    color: red;
}
main{
    font-size: 18px;
    color: rgb(53, 10, 10);
}
img{
    height: 300px;
    border-radius: 222px;
}
.profile{
   float: right; 
   margin-right: 1px;
   border: 1px solid #f7f6f6; 
}
ol{
    list-style-position: outside;
    list-style-type: decimal;
}
ul{
    list-style-position: outside;
    list-style-type: square;
}
li{
    margin-left: 11px;
}
footer{
    background-image: url(../img/Sam1.jpg);
    padding: 150px;
    font-size: 20px:
    color: white;
}
